[submodule "pybind11"]
	path = UnionFindPy/cpp/externals/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "robin-map"]
	path = UnionFindPy/cpp/externals/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "union_find/cpp/externals/fmt"]
	path = UnionFindPy/cpp/examples/fmt
	url = https://github.com/fmtlib/fmt.git
